.aboutText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    max-width: 75%;
    width: 75%;
    text-align: justify;
    vertical-align: top;
    padding: 5px 50px;
}

.menuButton {
    border: 2px black;
    width: 15%;
    height: 30px;
    text-align: left;
    padding: 0;
    max-height: 30px;
    vertical-align: top;
    
}

.menuTable {
    border-spacing: 0px;
}

.menuRows {
    background-color: rgb(169, 193, 238);
    display: inline-block;
    height: 30px;
    width: 100%;
}

.logoText {
    text-align: left;
    margin-left: 25px;
}

.logoImg {
    box-shadow: cornflowerblue;
    width: 200px;
}